#player, #playlist {
  height: 480px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 80px;
  width: 640px;
}

#playlist {
  background: $deep-orange-base;
  color: $deep-orange-text;
  font-size: 16px;
  height: 464px;
  overflow-x: hidden;
  top: 560px;
  width: 640px;

  ol {
    border-bottom: 1px solid $deep-orange-dark;
    height: 340px;
    overflow-x: hidden;
    cursor: pointer;
  }

  li {
    border-top: 1px solid $deep-orange-dark;
    cursor: pointer;

    &:hover {
      background: $deep-orange-dark;
    }
  }
}

#tabs, #tabs a {
  background: $deep-orange-base;
  height: 64px;
  left: 0;
  line-height: 64px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#tabs {
  bottom: 0;

  a {
    color: $deep-orange-light;
    width: 50%;

    &:last-child {
      left: 50%;
    }
  }

  .on {
    background: $deep-orange-dark;
    color: white;
  }
}

#current {
  color: white;
  font-size: 20px;
  padding: 20px;
}

#history li {
  color: #33522d;
  width: 100%;
}

.item-title {
  margin-right: 80px;
  padding: 10px 20px;
}

.item-delete {
  color: #ac0809;
  float: right;
  text-align: center;
  padding: 10px 0;
  width: 80px;

  &:hover {
    background: #ac0809;
    color: white;
  }
}

#player {
  background: black;
}