#tabs, #tabs a {
  background: #333;
  height: 64px;
  left: 0;
  line-height: 64px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#tabs {
  bottom: 0;

  a {
    color: #666;
    width: 50%;

    &:last-child {
      left: 50%;
    }
  }

  .on {
    background: #22242a;
    color: white;
  }
}