$indigo-base: #3F51B5;
$indigo-dark: #303F9F;
$indigo-light: #7986CB;

$blue-grey-light: #ECEFF1;

$deep-orange-base: #FF5722;
$deep-orange-dark: #E64A19;
$deep-orange-light: #FF8A65;
$deep-orange-text: #E0E0E0;