.video {
  cursor: pointer;
  min-height: 90px;
  padding: 10px;
  padding-left: 140px;
  position: relative;
}

.video:nth-child(2n-1) {
  background: white;
}

.video-image {
  float: left;
  left: 10px;
  position: absolute;
  top: 10px;
}

.video-title {
  padding-top: 5px;
}

.video-author {
  color: #df1f1f;
  font-size: 14px;
  padding: 5px 0;
}

.video-description {
  color: #727785;
  font-size: 12px;
  line-height: 1.5;
}

.video:hover {
  background: #22242a;
  color: white;
}

.player-instructions {
  text-align: center;
  margin-top: 100px;
  color: $blue-grey-light;

  ul {
    padding-top: 20px;
    list-style-type: none;

    li {
      padding: 20px;
    }

    b {
      background: rgba(255,255,255,0.4);
      padding: 7px 20px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}