#search {
    float: left;
    height: 40px;
    position: relative;
    width: 880px;
}

#query {
    background: #ac0809;
    border: none;
    border-radius: 20px;
    color: white;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 5px 20px;
    width: 840px;
}

#query:focus {
    outline: none;
}

#submit {
    position: absolute;
    right: 10px;
    top: 5px;
}

nav {
    float: right;
    line-height: 40px;
    text-align: center;
    width: 240px;
}

#play, #pause {
    cursor: pointer;
}

#pause {
    display: none;
}