@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "https://fonts.googleapis.com/css?family=Montserrat";

@import "components/variables";

@import "components/pulser";
@import "components/navbar";
@import "components/blocks";
@import "components/video";
@import "components/footer";

body, html {
  font-family: 'Montserrat', sans-serif;
  background: url('/img/shattered.png');
  padding-bottom: 50px;
}

.col-md-6,
.col-xs-6 {
  padding: 0 !important;
}